<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.9.0/css/foundation.min.css" integrity="sha512-HU1oKdPcZ02o+Wxs7Mm07gVjKbPAn3i0pyud1gi3nAFTVYAVLqe+de607xHer+p9B2I9069l3nCsWFOdID/cUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.9.0/css/foundation.min.css" integrity="sha512-HU1oKdPcZ02o+Wxs7Mm07gVjKbPAn3i0pyud1gi3nAFTVYAVLqe+de607xHer+p9B2I9069l3nCsWFOdID/cUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.9.0/css/foundation.min.css" integrity="sha512-HU1oKdPcZ02o+Wxs7Mm07gVjKbPAn3i0pyud1gi3nAFTVYAVLqe+de607xHer+p9B2I9069l3nCsWFOdID/cUw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>
    <div>
        <div>

        </div>
        <div>
            {% block content %}
                <table>
                    <thead>
                        <tr>
                            {% for item in column_names %}
                                <th>{{ item }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for line in results %}
                            <tr>
                                {% for word in line %}
                                    <td>{{ word }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            
                <div class="">
                    {% if current_page > 1 %}
                        <a href="{{ url_for('index', page=current_page - 1) }}">Previous</a>
                    {% endif %}
                
                    <p>Page {{ current_page }} of {{ total_pages }}</p>
                
                    {% if current_page < total_pages %}
                        <a href="{{ url_for('index', page=current_page + 1) }}">Next</a>
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    </div>
    
</body>
</html>